


// colors and font sizes
$white: rgba(255, 255, 255, 0.8);
$black: rgba(0, 0, 0, 0.8);
$font-size-paragraph: 16px;
$font-size-heading: 30px;
$font-size-sub-heading: 20px;

/////////Log in styles

// login-page.scss

$form-width: 300px;
$form-margin: 0 auto;
$form-border: 1px solid #ddd;
$form-border-radius: 5px;
$form-padding: 20px;

$label-display: block;
$label-margin-bottom: 10px;

$input-width: 100%;
$input-padding: 10px;
$input-border: 1px solid #ddd;
$input-border-radius: 5px;

$button-display: block;
$button-width: 100%;
$button-padding: 10px;
$button-background-color: #4caf50;
$button-color: #fff;
$button-border: none;
$button-border-radius: 5px;
$button-cursor: pointer;
